html {
  padding: 0;
  height:100%;
}

html, body {
  margin: 0;
}

body {
  padding: 1em;
  background-attachment: fixed;
  background-image: url('/i/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
