html {
  padding: 1em;
}

html, body {
  margin: 0;
  height:100%;
}

body {
  background-attachment: fixed;
  background-image: url('/i/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
